* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }

body {
  height: 100vh;
  background: url(./img/project-5.jpg) no-repeat center/cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

#add-task-container {
  width: 350px;
  padding: 20px 10px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 5px;

  display: flex;
}

input {
  flex: 5;
  margin-right: 10px;
  border-radius: 10px;
  padding: 5px;
  font-size: 1.2rem;
}

#add-task {
  flex: 1;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: white;
  color: green;
  border: green solid 2px;
  transition: .3s;
}

#add-task:hover {
  background-color: green;
  color: white;
}
  